APP_IMAGE=
APP_NAME=MYLARAVELAIAPP
APP_PORT_PREFIX=80

MYSQL_IMAGE=mariadb
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=

PHPMYADMIN_IMAGE=phpmyadmin/phpmyadmin:latest
PMA_HOST=mysql

MAILDEV_IMAGE=

TZ=Europe/Amsterdam

PHP_DEBUG_SQLITE=0

PHP_XDEBUG_ENABLED=0
PHP_XDEBUG_DEFAULT_ENABLE=0
PHP_XDEBUG_REMOTE_AUTOSTART=0
PHP_XDEBUG_REMOTE_HOST=localhost
PHP_XDEBUG_REMOTE_PORT=3600
PHP_XDEBUG_REMOTE_ENABLE=0
PHP_XDEBUG_IDEKEY=DOCKER_XDEBUG
PHP_XDEBUG_PROFILER_ENABLE=0
PHP_XDEBUG_PROFILER_OUTPUT_DIR=/var/www/html/storage/logs
